In [20]:
nome = "ed"
print(nome)

ed

In [22]:
nome

'ed'

In [23]:
idade = 37
idade

37

In [24]:
idade = idade + 5
idade

42

In [25]:
idade + 3

45

In [26]:
idade = idade + 3
idade

45

In [27]:
def mais_um_ano(idade):
    print("ta dentro dessa funcao")
    return idade + 1

In [28]:
mais_um_ano(43)

ta dentro dessa funcao

44

In [29]:
filme1 = "Toy Story 17"
filme2 = "A XUXA contra o baixo astral"
filme = "Matrix 1"

In [30]:
filmes = ["Toy Story 17", "XUXA contra o baixo Astral", "Mattrix 1" ]
filmes

['Toy Story 17', 'XUXA contra o baixo Astral', 'Mattrix 1']

In [37]:
filmes = [filme1, filme2,]
filmes

['Toy Story 17', 'A XUXA contra o baixo astral']